@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Comic_Neue:wght@400;700&display=swap");

@theme {
  --font-itim: var(--font-itim);
  --font-pacifico: var(--font-pacifico);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-comic: "Comic Neue", cursive;
}

html {
  scroll-behavior: smooth;
}
