@import "tailwindcss";

@theme {
  --font-itim: var(--font-itim);
  --font-pacifico: var(--font-pacifico);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-comic: "Comic Sans MS", "Comic Sans", cursive;
}

html {
  scroll-behavior: smooth;
}
